:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .product-create{
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .createButton{
    margin: auto;
  }